In [8]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Date
0,0,Cape Town,ZA,-33.9258,18.4232,69.35,63,34,3.42,scattered clouds,2022-01-16 21:55:07
1,1,Ponta Do Sol,PT,32.6667,-17.1000,65.03,62,84,18.48,broken clouds,2022-01-16 21:51:53
2,2,Norman Wells,CA,65.2820,-126.8329,-25.56,68,20,0.00,few clouds,2022-01-16 21:56:32
3,3,Bubaque,GW,11.2833,-15.8333,78.55,82,99,12.37,overcast clouds,2022-01-16 21:49:39
4,4,Vaini,TO,-21.2000,-175.2000,80.11,82,30,12.88,scattered clouds,2022-01-16 21:56:32

In [4]:
city_data_df.dtypes

City_ID                  int64
City                    object
Country                 object
Lat                    float64
Lng                    float64
Max Temp               float64
Humidity                 int64
Cloudiness               int64
Wind Speed             float64
Current Description     object
Date                    object
dtype: object

## Create a Max Temp Heatmap

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# # 1. Assign the locations to an array of latitude and longitude pairs.
# locations = [latitude, longitude]
# # 2. Assign the weights variable to some values.
# temperatures = # an array of length equal to the locations array length
# # 3. Assign the figure variable to the gmaps.figure() attribute.
# fig = gmaps.figure()
# # 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
# heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)
# # 5. Add the heatmap layer.
# fig.add_layer(heatmap_layer)
# # 6. Call the figure to plot the data.
# fig

In [6]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [7]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

# fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# this code zooms in nicely, but it appears to take away the heat layer, so we try it in a different order

Figure(layout=FigureLayout(height='420px'))

## Create a Percent Humidity Heatmap

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds,
dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Create a Wind Speed Heatmap 
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind,
dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

# Get Vacation Criteria

In [ ]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

In [21]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
7,7,Avarua,CK,2022-01-15 16:15:18,-21.2078,-159.7750,75.25,88,100,1.14
8,8,Bathsheba,BB,2022-01-15 16:17:37,13.2167,-59.5167,83.01,78,75,17.27
9,9,Non Sung,TH,2022-01-15 16:17:37,15.1801,102.2569,79.23,47,69,7.05
10,10,Hermanus,ZA,2022-01-15 16:16:30,-34.4187,19.2345,78.91,79,86,3.47
17,17,Sinnamary,GF,2022-01-15 16:17:38,5.3833,-52.9500,82.53,73,26,9.57
21,21,Bengkulu,ID,2022-01-15 16:17:39,-3.8004,102.2655,77.34,87,97,3.49
22,22,Angra Dos Reis,BR,2022-01-15 16:17:39,-23.0067,-44.3181,82.36,87,100,2.91
28,28,Arraial Do Cabo,BR,2022-01-15 16:15:20,-22.9661,-42.0278,85.96,74,75,13.80
36,36,Labuhan,ID,2022-01-15 16:17:42,-6.8844,112.2051,79.16,85,100,5.93
41,41,Sabang,ID,2022-01-15 16:17:43,5.8933,95.3214,81.45,74,14,18.77

In [26]:
preferred_cities_df.count()
preferred_cities_df = preferred_cities_df.dropna()
preferred_cities_df.count()

City_ID       159
City          159
Country       159
Date          159
Lat           159
Lng           159
Max Temp      159
Humidity      159
Cloudiness    159
Wind Speed    159
dtype: int64

# Map Vacation Criteria
## Get Travel Destinations

In [27]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
7            Avarua      CK     75.25 -21.2078 -159.7750
8         Bathsheba      BB     83.01  13.2167  -59.5167
9          Non Sung      TH     79.23  15.1801  102.2569
10         Hermanus      ZA     78.91 -34.4187   19.2345
17        Sinnamary      GF     82.53   5.3833  -52.9500
21         Bengkulu      ID     77.34  -3.8004  102.2655
22   Angra Dos Reis      BR     82.36 -23.0067  -44.3181
28  Arraial Do Cabo      BR     85.96 -22.9661  -42.0278
36          Labuhan      ID     79.16  -6.8844  112.2051
41           Sabang      ID     81.45   5.8933   95.3214

## Retrieve Hotels from a Nearby Search 
### Set the Parameters for a Nearby Search

In [29]:
from config import g_key

# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Practice Using a Fixed Latitude and Longitude
See Google_Nearby_Search notebook

## Iterate Through hotel_df DataFrame

In [31]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    # hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [32]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
7,Avarua,CK,75.25,-21.2078,-159.7750,Paradise Inn
8,Bathsheba,BB,83.01,13.2167,-59.5167,Atlantis Hotel
9,Non Sung,TH,79.23,15.1801,102.2569,บ้านของกลอยใจ
10,Hermanus,ZA,78.91,-34.4187,19.2345,Misty Waves Boutique Hotel
17,Sinnamary,GF,82.53,5.3833,-52.9500,ALETHEIA Appartement Sinnamary
...,...,...,...,...,...,...
558,Chirongui,YT,84.13,-12.9319,45.1483,La Villa Mahatsara
559,Sola,VU,81.57,-13.8833,167.5500,Leumerus Bungalows
563,Trinidad,BO,87.78,-14.8333,-64.9000,Hotel Piesta
572,Granja,BR,85.53,-3.1203,-40.8261,Pousada Casa Grande
578,Poum,NC,79.27,-20.2333,164.0167,Gîte kajeon

## Create a Maximum Temperature Heatmap from a Hotel DataFrame

In [33]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [34]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

his is a new code block, so let's review its form and function.

First, the info_box_template variable is assigned to a multiline string using three quotes. The text inside the multiline string is HTML code. HTML code is defined by the opening and closing the angular brackets (e.g., <tag> and <tag/>). Angular brackets always come in pairs. The opening angular bracket is followed by some text inside, such as dl, dt, and dd. The closing angular bracket is preceded by a forward-slash ("/"). The text inside with the angular brackets is called a tag. We'll see more examples of HTML code in an upcoming module.

Here's what these tags mean:

    The <dl> tag is a description list (dl).
    The <dt> tag is a term or name in a description list that is nested under the <dl> tag.
    The <dd> tag is used to define the term or name or <dt> tag.

If we were to write out these tags on paper, it would look like this.

    Description List: <dl>
        Description Term: <dt>
            Description Definition: <dd>
        Description Term: <dt>
            Description Definition: <dd>

For our purposes, we'll add the hotel name, city name, country code, and the maximum temperature values from the hotel_df DataFrame as the description definition. Our code will look like the following.

In [36]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

Next, add the data to the code by iterating through the hotel_df DataFrame using the iterrows() function. Then add the information to the gmaps.marker_layer() attribute with the locations.

According to the documentation (Links to an external site.), we can use this example to create the data for the info_box_template:

From the documentation, we can take this code:

plant_info = [info_box_template.format(**plant) for plant in nuclear_power_plants]

Then edit this code by replacing "plant_info" with "hotel_info," and then use the iterrows() function to get the index and data in the row to add to the marker.

Add the following code below to the info_box_template code and run the cell.

In [37]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

Let's review what we're doing with this code.

    We set the hotel_info equal to the info_box_content.
    In the list comprehension, info_box_template.format(**row) for index, row in hotel_df.iterrows(), we iterate through each "row" of the hotel_df DataFrame and then format the info_box_template with the data we set to populate the from each row. Remember, we are not using every row; we are only using the rows defined in the info_box_template, which are Hotel Name, City, Country, and Max Temp.

Next, in the code we used to create the heatmap with markers, add info_box_content=hotel_info to the gmaps.marker_layer() attribute with the locations. Our final cell should look like the following.

In [38]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))